<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body id="myBody">
    <div class = "container">
        <div class = "top mt-4 float-center">
            <!--Bootstrap Docs for Buttons-->
            <!--https://getbootstrap.com/docs/4.5/components/buttons/#conveying-meaning-to-assistive-technologies-->
            <a onclick=decreaseFontSize() class="btn btn-outline-secondary">Decrease Font</a>
            <a onclick=increaseFontSize() class="btn btn-outline-secondary">Increase Font</a>
            <a href = "../posts/index.ejs" class="btn btn-dark float-right">Blog</a>
            <a href = "/users/listUsers" class="btn btn-dark float-right">List Users</a>
        </div>
        <h1 class="mt-4 mb-4">New User</h1>
        
        <form action="/users" method="POST">
            <%- include('_user_fields') %>
        </form>
    </div>
    <script>
        function increaseFontSize() {
            document.getElementById("myBody").style.fontSize = "3.0em";
        }
        
        function decreaseFontSize() {
            document.getElementById("myBody").style.fontSize = "1.0em";
        }
    </script>
</body>
</html>