<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body id="myBody">
    <div class = "container">
        <div class = "top mt-4 float-center">
            <!--Bootstrap Docs for Buttons-->
            <!--https://getbootstrap.com/docs/4.5/components/buttons/#conveying-meaning-to-assistive-technologies-->
            <a onclick=decreaseFontSize() class="btn btn-outline-secondary">Decrease Font</a>
            <a onclick=increaseFontSize() class="btn btn-outline-secondary">Increase Font</a>
            <a href = "../posts/index.ejs" class="btn btn-dark float-right">Blog</a>
        </div>
        <h1 class="mt-4 mb-4">New Post</h1>
        
        <form action="/posts" method="POST">
            <%- include('_form_fields') %>
        </form>
        <label class="mt-4">Markdown Alternative: Upload a file (.txt only)</label>
        <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" accept=".txt">
              <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" for="file" onclick=loadFileAsText() type="button" id="inputGroupFileAddon04">Upload</button>
            </div>
        </div>
    </div>
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        function loadFileAsText(){
            // stack overflow help:
            // https://stackoverflow.com/questions/31746837/reading-uploaded-text-file-contents-in-html
            
            var fileToLoad = document.getElementById("inputGroupFileAddon02").files[0];
    
            var fileReader = new FileReader();
            fileReader.onload = function(fileLoadedEvent){
                var textFromFileLoaded = fileLoadedEvent.target.result;
                document.getElementById("inputTextToSave").vaue = textFromFileLoaded;
            };
            
            // fileReader.readAsText(fileToLoad, "UTF-8");
            $("#file").text(textFromFileLoaded);
        }
        function increaseFontSize() {
            document.getElementById("myBody").style.fontSize = "3.0em";
        }
        
        function decreaseFontSize() {
            document.getElementById("myBody").style.fontSize = "1.0em";
        }     
    </script>
</body>
</html>